#home {
    text-align: center;
}

#name {
    text-align: left;
    margin-left: 20px;
}

#about {
    text-align: center;
}

#home {
    margin-top: -10vh;
    /* Adjust this value based on your design */
    background-image: url('assets/new_frame_hero.png');
    background-position: bottom;
    background-size: cover;
}

#tye {
    color: #0B1957;
    font-weight: bold;
}

#experiences {
    /* Adjust this value based on your design */
    background-image: url('assets/project.png');
    background-position: left;
    background-size: cover;
}